.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 220px;
  background-color: #0D47A1;
  color: white !important;
  border-color: transparent;
}

.content {
  padding: 16px;
}

mat-nav-list mat-icon {
  color: white !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: white !important;
  align-items: center;
  display: flex;
}

p {
  margin-top: 15px !important;
}

.menu-button {
  color: white;
  background-color: #0D47A1;
  border: none;
}
