<div class="dialog-content-wrapper">
  <mat-toolbar class="color-blue m-0" color="primary">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

        <h1>Editar peça</h1>

        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>

      </mat-toolbar-row>
  </mat-toolbar>

  <div class="form-container">
    <form [formGroup]="editForm" fxLayout="row wrap" fxLayoutAlign="center" class="formulario">

      <mat-form-field appearance="fill" fxFlex="80" #marcaInput>
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca" placeholder="Marca">
        <mat-error *ngIf="editForm.get('marca')?.hasError('required')">Campo necessário</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="80">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo" placeholder="Modelo">
        <mat-error *ngIf="editForm.get('modelo')?.hasError('required')">Campo necessário</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="80">
        <mat-label>Cor</mat-label>
        <input matInput formControlName="cor" placeholder="Cor">
        <mat-error *ngIf="editForm.get('cor')?.hasError('required')">Campo necessário</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="80">
        <mat-label>Grau de Imp.</mat-label>
        <mat-select disableRipple formControlName="grau_Importancia">
          <mat-option value="alto">Alto</mat-option>
          <mat-option value="medio">Médio</mat-option>
          <mat-option value="baixo">Baixo</mat-option>
          <mat-option value="excecao">Exceção</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.get('grau_Importancia')?.hasError('required')">Campo necessário</mat-error>
      </mat-form-field>




      <mat-form-field appearance="fill" fxFlex="80">
        <mat-label>Localização</mat-label>
        <input matInput formControlName="localizacao" placeholder="Localização da Peça">
        <mat-error *ngIf="editForm.get('localizacao')?.hasError('required')">Campo necessário</mat-error>
      </mat-form-field>

      <div fxFlex="80" fxLayoutAlign="center" fxLayoutGap="16px">
        <button color="primary" mat-raised-button [disabled]="editForm.invalid" (click)="updatePeca()">Atualizar</button>
        <button style="background-color: rgb(78, 167, 78); color: white;" mat-raised-button [disabled]="editForm.invalid" (click)="vender()">Vender</button>
        <button color="warn" mat-raised-button [disabled]="editForm.invalid" (click)="deletePeca()">Excluir</button>
      </div>

    </form>



  </div>



</div>
